<%= form_for Spot.new do |f| %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :address, 'Address' %>
    <%= f.text_field :address %>
    <%= f.label :city, 'City' %>
    <%= f.text_field :city %>
    <%= f.label :state, 'State' %>
    <%= f.text_field :state %>
    <%= f.label :zip_code, 'Zip Code' %>
    <%= f.text_field :zip_code %>
    <%= f.label :beginning_time, 'Start' %>
      <div class='input-group date datetimepicker1' id='datetimepicker1'>
          <input type='text' class="form-control" name="spots[beginning_time]" />
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
    <%= f.label :ending_time, 'End' %>
    <div class='input-group date datetimepicker1' id='datetimepicker2'>
        <input type='text' class="form-control" name="spots[ending_time]" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <%= f.label :price, 'Price' %>
    <%= f.text_field :price %>
    <%= f.label :image_url, 'Image Upload' %>
    <%= f.text_field :image_url %>
    <%= f.submit class: 'btn btn-default', id: 'create-spot' %>
<% end %>
