<%= form_for @spot, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group">
        <%= f.label :pictures, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-9">
          <%= f.file_field :pictures, type: :file, multiple: true, name: "pictures[]" %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :title, class: 'col-sm-2 control-label' %>
        <div class="col-sm-9">
      <%= f.text_field :title, :placeholder => 'Title of listing' %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :address, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
        <%= f.text_field :address, :placeholder => '123 Parking LN - This won\'t be public' %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :city, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :city, :placeholder => 'New York' %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :state, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
        <%= f.select :state, options_for_select(us_states) %>
      </div>
  </div>

  <div class="form-group">
      <%= f.label :zip_code, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
      <%= f.text_field :zip_code, :placeholder => '10001' %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :type_of_spot, class: 'col-sm-2 control-label' %>
      <div class="col-sm-9">
      <%= f.select :type_of_spot, options_for_select(Spot.types_of_spots) %>
    </div>
  </div>

  <div class="form-group">
      <%= f.label :description, class: 'col-sm-2 control-label'  %>
      <div class="col-sm-9">
          <%= f.text_area :description, class: 'form-control', :placeholder => "Share some things about your spot" %>
      </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <div class="pull-right">
        <%= link_to "Back", :back, class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-default', id: 'create-spot' %>
      </div>
    </div>
  </div>
<% end %>

<% if @spot.errors.full_messages.size > 0  %>
  <div class="alert alert-danger">
    <% @spot.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
