<div class="col-md-3 col-sm-9 center-block text-center">
  <%= form_tag(nearby_spots_path, method: "get") do %>
    <%= label_tag(:sort_type, "Sort By:") %>
    <%= select_tag "sort_type", options_for_select([ "Price", "Closest Time", "Closest Spot" ]) %>
    <%= submit_tag("Sort") %>
    <%= hidden_field_tag "q", "#{params[:q]}" if params[:q] %>
    <%= hidden_field_tag "radius", "#{params[:radius]}" if params[:radius] %>
  <% end %>
</div>
