<li class="item thumb listing-square <%= spot.class_type %>" id="spot-<%= spot.id %>">
  <figure>

    <div class="icon-overlay icn-link icn-more">
      <a href=" <%= spot_path(spot) %>"><%= image_for_spot(spot, :medium, 'medium-img') %></a>
    </div><!-- /.icon-overlay -->

    <figcaption class="bordered no-top-border">
      <div class="info item-info-height">

        <h4><%= link_to "#{spot.title}", spot_path(spot) %></h4>
        <p><%= spot.city %>, <%= spot.state %></p>
        <p>
          <% if current_user %>
            <%= "#{number_with_delimiter(distance_between(current_user, spot).round(0))} miles away" if current_user %>
          <% else %>
            <%= "#{number_with_delimiter(distance_between_me_and(spot).round(0))} miles away" if !current_user %>
          <% end %>
        </p>
        <p><%= spot.show_price_range ? spot.show_price_range : '$ Negotiable' %></p>
        <%= button_to 'Remove Spot', spot_path(spot), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } if current_user == spot.owner && request.env['PATH_INFO'] == 'my_spots' %>

      </div><!-- /.info -->
    </figcaption>

  </figure>
</li><!-- /.item -->
