<li class="item thumb interactive" id="spot-<%= spot.id %>">
  <figure>

    <div class="icon-overlay icn-link">
      <% if spot.picture.exists? %>
        <a href=" <%= spot_path(spot) %>"><%= image_tag spot.picture.url(:medium) %></a>
      <% else %>
        <a href=" <%= spot_path(spot) %>"><%= image_tag spot.picture_file_name %></a>
      <% end %>
    </div><!-- /.icon-overlay -->

    <figcaption class="bordered no-top-border">
      <div class="info">

        <h4> <%= link_to "#{spot.title}", spot_path(spot) %></h4>
        <p> <%= spot.city %>, <%= spot.state %></p>
      </div><!-- /.info -->
    </figcaption>

  </figure>
</li><!-- /.item -->
