
<!-- ============================================================= MAIN ============================================================= -->

<main>

	<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

	<section id="portfolio-post">
		<div class="container inner-top-md">
			<div class="row">

				<div class="col-md-8">
					<div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">

						<div class="item">
							<figure>
                <%= image_tag @spot.picture.url %>
							</figure>
						</div><!-- /.item -->

            <div class="item">
              <figure>
                <%= image_tag @spot.picture.url %>
              </figure>
            </div><!-- /.item -->
						<div class="item">
							<figure>
									<!-- <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @spot.full_address %>&maptype=satellite" allowfullscreen></iframe> -->
							</figure>
						</div><!-- /.item -->

					</div><!-- /.owl-carousel -->
				</div><!-- /.col -->

				<div class="col-md-4 inner-left-sm">
					<header>
						<h2><%= @spot.title %></h2>
						<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate ut reporemni labor. Laceaque quiae sitiorem rest non restibusaes es tumquam core posae volor remped modis volor. Doloreiur qui commolu ptatemp dolupta oreprerum.</p>
						<p class="text-small">Conecus iure posae volor remped modis aut accabora incim resto explabo eictemperum quiae sitiorem. Laceaque eictemperum quiae sitiorem rest non restibusaes dem tumquam.</p>

						<ul class="item-details inner-top-xs outer-top-xs border-top">
							<li class="date"> <%= @spot.beginning_time %> - <%= @spot.ending_time %></li>
							<li class="categories"> <%= @spot.city %>, <%= @spot.state %></li>
							<li class="client"> <%= number_to_currency(@spot.price) %></li>
							<li class="url"><a href="http://demo.fuviz.com/reen">Zip Code: <%= @spot.zip_code %></a></li>
							<iframe id="map" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @spot.full_address %>&maptype=satellite" allowfullscreen></iframe>
						</ul><!-- /.item-details -->
					</header>
				</div><!-- /.col -->

			</div><!-- /.row -->
		</div><!-- /.container -->

	</section>

	<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->

	<!-- ============================================================= REVIEWS SECTION ============================================================= -->


	<ul>
	<% @spot.reviews.each do |review| %>
		<li>
			<h3><%= review.rating %>/10  |  <%= review.visitor.name %></h3>
			<h4><%= review.created_at.strftime("%B %d, %Y") %> (<%= time_ago_in_words(review.created_at) %> ago)</h4>
			<p><%= review.body %></p>
		</li>
	<% end %>
	</ul>

	<% if user_signed_in? && current_user %>
		<%= form_for Review.new do |f| %>
			<%= f.label :rating, 'Rating' %>
			<%= f.text_field :rating %>
			<%= f.label :body, 'Content' %>
			<%= f.text_field :body %>
			<%= hidden_field_tag 'review[spot_id]', @spot.id  %>
			<%= hidden_field_tag 'review[visitor_id]', current_user.id %>
			<%= f.submit %>
		<% end %>
	<% end %>

	<!-- ============================================================= REVIEWS SECTION : END ============================================================= -->




	<!-- ============================================================= SECTION – MORE WORKS ============================================================= -->

	<section id="more-works">
		<div class="container inner-top-sm inner-bottom">
			<div class="row">
				<div class="col-sm-12">
					<div id="accordion" class="panel-group blank">
						<div class="panel panel-default">

							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>Other Nearby Parking Spots</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->

							<div id="content" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="portfolio">

										<ul class="filter text-center">
											<li><a href="#" data-filter="*" class="active">All</a></li>
											<li><a href="#" data-filter=".identity">Identity</a></li>
											<li><a href="#" data-filter=".interactive">Interactive</a></li>
											<li><a href="#" data-filter=".print">Print</a></li>
											<li><a href="#" data-filter=".photography">Photography</a></li>
										</ul><!-- /.filter -->

										<ul class="items col-4">

											<li class="item thumb interactive">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Appscreen Dashboard</h4>
																<p>Interactive</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work01.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Grand Motel</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work02.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Signwall</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work16.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Modern CD Case</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work18.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Astor & Yancy</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work09.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb photography">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Daydreaming</h4>
																<p>Photography</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/photograph02.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Brand Stationery</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work08a.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Tri Fold Brochure</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work10.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb interactive">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Vintage Bicycles</h4>
																<p>Interactive</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work03.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Electric Dance Book Cover</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work20.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Embroidered</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work05.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Brand Stationery</h4>
																<p>Identity/Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work21.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Handmade Wood Gifts</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work17.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Designer Brand</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work19.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Vinyl Records</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work07.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb interactive">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Elena Website</h4>
																<p>Interactive</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work22.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

										</ul><!-- /.items -->

									</div><!-- /.portfolio -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->

						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- ============================================================= SECTION – MORE WORKS : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
