<% content_for :page_title do %><%= @spot.title %><% end %>

<!-- ============================================================= MAIN ============================================================= -->

<main>

	<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

	<section id="portfolio-post">
		<div class="container inner-top-md">
			<div class="col-md-10 center-block">

				<div class="row">
					<div class="card rounded head-card">
						<div class="card-block">
							<div class="col-md-4 text-center">
				        <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">
									<% if !@spot.pictures.empty? %>
										<% @spot.pictures.each do |picture| %>
											<div class="item">
												<figure>
													<%= image_tag picture.picture.url(:medium), class: 'rounded' %>
												</figure>
											</div><!-- /.item -->
										<% end %>
									<% else %>
										<div class="item">
											<figure>
												<%= image_tag '/images/medium/nophotos.jpg', class: 'rounded' %>
										  </figure>
										</div>
									<% end %>
								</div><!-- /.owl-carousel -->
								<% if current_user && current_user.id == @spot.owner.id %>
									<%= link_to "Edit this spot", edit_spot_path(@spot), class: "btn btn-default" %>
									<%= link_to "Create a New Listing", new_spot_listing_path(@spot), class: "btn btn-default" %>
								<% end %>
							</div>

							<div class="col-md-8 card-text">
								<h2><%= @spot.title %></h2>
								<p>
									<h4><%= image_for_user(@spot.owner, :thumb, 'img-super-small rounded') %> Posted by <%= link_to "#{@spot.owner.name}", user_path(@spot.owner) %></h4>
									<%= @spot.city %>, <%= @spot.state %><br>
									Zip Code: <%= @spot.zip_code %><br>
									Type: <%= @spot.type_of_spot %>
								</p>
								<p class="text-small"><%= @spot.description %></p>
							</div>
						</div>
					</div><!-- /.card -->
				</div><!-- /.row -->

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Map</h2>
						</div>

						<div class="card-block card-body no-padding">
							<div id="map-container2" style='width: 1150px;'>
								<div id="map" style='width: 1150px; height: 600px;'></div>
							</div>
						</div>
					</div><!-- /.card -->
				</div>

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Available</h2>
						</div>

						<div class="card-block card-body">
							<div class="col-md-9 center-block">
								<% @spot.listings.select{|listing| listing.available == true && !listing.expired?}.each do |listing| %>
									<%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
								<% end %>
							</div>
						</div>
					</div><!-- /.card -->
				</div>

				<!-- <div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Occupied Listings</h2>
						</div>

						<div class="card-block card-body">
							<div class="col-md-9 center-block">
								<% @spot.listings.where(available: ['false', nil]).each do |listing| %>
									<%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
								<% end %>
							</div>
						</div>
					</div>
				</div> -->

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">User Reviews</h2>
						</div>

						<div class="card-block card-body">
							<div class="col-md-9 center-block reviews">
								<% @spot.reviews.order('created_at DESC').each do |review| %>
									<%= render partial: 'review', locals: {review: review} %>
								<% end %>
							</div>
						</div>
					</div><!-- /.card -->
				</div>

				<% if user_signed_in? && current_user != @spot.owner %>
					<div class="row">
						<div class="card rounded">
							<div class="card-block">
								<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
								<h2 class="card-title">Write a Review</h2>
							</div>

							<div class="card-block card-body">
								<div class="col-md-9 center-block">
									<%= render partial: 'review_form' %>
								</div>
							</div>
						</div><!-- /.card -->
					</div>
				<% end %>

				<!-- ============================================================= BEGIN OTHER NEARBY PLACES ============================================================= -->

				<div class="row">
					<div id="accordion" class="panel-group blank">
						<div class="panel panel-default">

							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>Other Nearby Parking Spots</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->

							<div id="content" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="portfolio">

										<ul class="filter text-center">
					            <li><a href="#" data-filter="*" class="active">All</a></li>
					            <li><a href="#" data-filter=".<%= Spot.types_of_spots[0] %>"><%= Spot.types_of_spots[0] %></a></li>
					            <li><a href="#" data-filter=".<%= Spot.types_of_spots[1] %>"><%= Spot.types_of_spots[1] %></a></li>
					            <li><a href="#" data-filter=".<%= Spot.types_of_spots[2] %>"><%= Spot.types_of_spots[2] %></a></li>
					            <li><a href="#" data-filter=".<%= Spot.types_of_spots[3] %>"><%= Spot.types_of_spots[3] %></a></li>
					          </ul><!-- /.filter -->

										<ul class="items col-4">
											<% Spot.near([@spot.latitude, @spot.longitude], Spot.default_search_distance).limit(9).each do |spot| %>
											<li class="item thumb <%= spot.type_of_spot %>">
												<a href="<%= spot_path(spot) %>">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4><%= spot.title %></h4>
																<p><% spot.type_of_spot %></p>
															</div><!-- /.info -->
														</figcaption>
														<% if spot.pictures.size >0 %>
														<img src="<%= spot.pictures.first.picture.url(:medium) %>" alt="">
														<% end %>
													</figure>
													</a>
												</a>
											</li><!-- /.item -->
											<% end %>



										</ul><!-- /.items -->

									</div><!-- /.portfolio -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->

						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.row -->

				<!-- ============================================================= END OTHER NEARBY PLACES ============================================================= -->

			</div><!-- /.center-block -->
		</div><!-- /.container -->
	</section>
</main>

<script type="text/javascript">
  $(document).ready(function(){
    $("div.toggle").click(function(){
      $(this).parent().parent().find('.card-body').slideToggle(100, function(){
        $(this).parent().find('i').toggleClass('fa-toggle-off').toggleClass('fa-toggle-on');
      });
    });
		createMap();
  });


	function createMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {

    }, internal: {id: 'map'}}, function(){
			markers = handler.addMarkers([
			    {
			      "lat": <%= @spot.latitude %>,
			      "lng": <%= @spot.longitude %>,
			      "picture": {
			        "width":  36,
			        "height": 36
			      },
			      "infowindow": "hello!"
			    }
			  ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
			handler.getMap().setZoom(17);
			markers[0].serviceObject.setVisible(false);
			circle = [{lng: <%= @spot.longitude %>, lat: <%= @spot.latitude %>, radius: 150, strokeColor: "#FF0000"}];
			handler.addCircles(circle)
	  });
  }
</script>
