<% content_for :page_title do %><%= @spot.title %><% end %>

<!-- ============================================================= MAIN ============================================================= -->

<main>

	<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

	<section id="portfolio-post">
		<div class="container inner-top-md">
			<div class="col-md-10 center-block">

				<div class="row">
					<div class="card rounded head-card">
						<div class="card-block">
							<div class="col-md-4 text-center">
				        <div id="owl-work" class="owl-carousel owl-inner-pagination owl-inner-nav owl-ui-md">
									<% if !@spot.pictures.empty? %>
										<% @spot.pictures.each do |picture| %>
											<div class="item">
												<figure>
													<%= image_tag picture.picture.url(:medium), class: 'rounded' %>
												</figure>
											</div><!-- /.item -->
										<% end %>
									<% else %>
										<div class="item">
											<figure>
												<%= image_tag '/images/medium/nophotos.jpg', class: 'rounded' %>
										  </figure>
										</div>
									<% end %>
								</div><!-- /.owl-carousel -->
								<% if current_user && current_user.id == @spot.owner.id %>
									<%= link_to "Edit this spot", edit_spot_path(@spot), class: "btn btn-default" %>
									<%= link_to "Create a New Listing", new_spot_listing_path(@spot), class: "btn btn-default" %>
								<% end %>
							</div>

							<div class="col-md-8 card-text">
								<h2><%= @spot.title %></h2>
								<p>
									<h4><%= image_for_user(@spot.owner, :thumb, 'img-super-small') %> Posted by <%= link_to "#{@spot.owner.name}", user_path(@spot.owner) %></h4>
									<%= @spot.city %>, <%= @spot.state %><br>
									Zip Code: <%= @spot.zip_code %><br>
									Type: <%= @spot.type_of_spot %>
								</p>
								<p class="text-small"><%= @spot.description %></p>
							</div>
						</div>
					</div><!-- /.card -->
				</div><!-- /.row -->

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Map</h2>
						</div>

						<div class="card-block card-body no-padding">
							<iframe id="map" width="100%" height="600px" class="center-block" frameborder="0" style="border:0" src='https://www.google.com/maps/embed/v1/view?key=<%= ENV['GOOGLE_KEY'] %>&center=<%= "#{@spot.latitude}, #{@spot.longitude}" %>&zoom=18&maptype=roadmap' allowfullscreen></iframe>
						</div>
					</div><!-- /.card -->
				</div>

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Available</h2>
						</div>

						<div class="card-block card-body">
							<div class="col-md-9 center-block">
								<% @spot.listings.where(available: 'true').each do |listing| %>
									<%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
								<% end %>
							</div>
						</div>
					</div><!-- /.card -->
				</div>

				<!-- <div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Occupied Listings</h2>
						</div>

						<div class="card-block card-body">
							<div class="col-md-9 center-block">
								<% @spot.listings.where(available: ['false', nil]).each do |listing| %>
									<%= render partial: 'listings/listing', locals: {spot: @spot, listing: listing} %>
								<% end %>
							</div>
						</div>
					</div>
				</div> -->

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">User Reviews</h2>
						</div>

						<div class="card-block card-body">
							<div class="col-md-9 center-block reviews">
								<% @spot.reviews.order('created_at DESC').each do |review| %>
									<%= render partial: 'review', locals: {review: review} %>
								<% end %>
							</div>
						</div>
					</div><!-- /.card -->
				</div>

				<% if user_signed_in? && current_user != @spot.owner %>
					<div class="row">
						<div class="card rounded">
							<div class="card-block">
								<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
								<h2 class="card-title">Write a Review</h2>
							</div>

							<div class="card-block card-body">
								<div class="col-md-9 center-block">
									<%= render partial: 'review_form' %>
								</div>
							</div>
						</div><!-- /.card -->
					</div>
				<% end %>

				<!-- ============================================================= BEGIN OTHER NEARBY PLACES ============================================================= -->

				<div class="row">
					<div id="accordion" class="panel-group blank">
						<div class="panel panel-default">

							<div class="panel-heading text-center">
								<h4 class="panel-title">
									<a class="panel-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#content">
										<span>Other Nearby Parking Spots</span>
									</a>
								</h4>
							</div><!-- /.panel-heading -->

							<div id="content" class="panel-collapse collapse in">
								<div class="panel-body">
									<div class="portfolio">

										<ul class="filter text-center">
											<li><a href="#" data-filter="*" class="active">All</a></li>
											<li><a href="#" data-filter=".identity">Driveway</a></li>
											<li><a href="#" data-filter=".interactive">Garage</a></li>
											<li><a href="#" data-filter=".print">Parking Lot</a></li>
											<li><a href="#" data-filter=".photography">Other</a></li>
										</ul><!-- /.filter -->

										<ul class="items col-4">

											<li class="item thumb interactive">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Appscreen Dashboard</h4>
																<p>Interactive</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work01.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Grand Motel</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work02.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Signwall</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work16.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Modern CD Case</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work18.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Astor & Yancy</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work09.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb photography">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Daydreaming</h4>
																<p>Photography</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/photograph02.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Brand Stationery</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work08a.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Tri Fold Brochure</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work10.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb interactive">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Vintage Bicycles</h4>
																<p>Interactive</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work03.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Electric Dance Book Cover</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work20.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Embroidered</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work05.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Brand Stationery</h4>
																<p>Identity/Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work21.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Handmade Wood Gifts</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work17.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb identity">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Designer Brand</h4>
																<p>Identity</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work19.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb print">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Vinyl Records</h4>
																<p>Print</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work07.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

											<li class="item thumb interactive">
												<a href="portfolio-post.html">
													<figure>
														<figcaption class="text-overlay">
															<div class="info">
																<h4>Elena Website</h4>
																<p>Interactive</p>
															</div><!-- /.info -->
														</figcaption>
														<img src="assets/images/art/work22.jpg" alt="">
													</figure>
												</a>
											</li><!-- /.item -->

										</ul><!-- /.items -->

									</div><!-- /.portfolio -->
								</div><!-- /.panel-body -->
							</div><!-- /.content -->

						</div><!-- /.panel -->
					</div><!-- /.accordion -->
				</div><!-- /.row -->

				<!-- ============================================================= END OTHER NEARBY PLACES ============================================================= -->

			</div><!-- /.center-block -->
		</div><!-- /.container -->
	</section>
</main>

<script type="text/javascript">
  $(document).ready(function(){
    $("div.toggle").click(function(){
      $(this).parent().parent().find('.card-body').slideToggle(100, function(){
        $(this).parent().find('i').toggleClass('fa-toggle-off').toggleClass('fa-toggle-on');
      });
    });
  });
</script>
