<%= form_tag messages_path, method: :post, remote: true do %>
  <div class="modal-body">
    <div class="form-group">
      <%= label_tag 'message[subject]', 'Subject' %>
      <%= text_field_tag 'message[subject]', nil, cols: 3, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'message[body]', 'Message' %>
      <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= label_tag 'recipient', 'Recipient' %><br>
      <%= hidden_field_tag 'message[recipient]', @chosen_recipient.id %>
      <%= image_for_user(@chosen_recipient, :thumb, 'img-super-small rounded') %>
      <%= @chosen_recipient.name %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <%= submit_tag 'Send Message', class: 'btn btn-default' %>
  </div>
<% end %>
