<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: 'Your first and last name' %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'yourname@example.com' %>
  </div>
  <% if f.object.password_required? %>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'password' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'confirm password' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-default" %>
  </div>
<% end %>

<%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter) %>
