<%= form_for [@spot, @listing], :url => spot_listings_path(@spot, @listing), html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :beginning_time, 'Date', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <input type="text" data-provide='datepicker', name='listing[beginning_time]', required="required", placeholder="<%= Time.now.strftime("%m-%d-%Y") %>">
    </div>
    <%= f.select :beginning_time_of_day, options_for_select(Listing.time_of_day_options) %>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <%= render 'layouts/add_a_date' %>
  </div>
  <div id="ending-time-form" class="form-group", display="none">
    <%= f.label :ending_time, 'Date', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <input type="text" data-provide='datepicker', name='listing[ending_time]', placeholder="<%= Time.now.strftime("%m-%d-%Y") %>">
    </div>
    <%= f.select :ending_time_of_day, options_for_select(Listing.time_of_day_options) %>
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <%= render 'layouts/hide_a_date' %>
    </div>
  </div>



  <div class="form-group">
    <%= f.label :price, 'Price ($)', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.text_field :price, :required => true, :placeholder => '$20' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Details', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.text_field :description, :placeholder => 'Enter details' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <div class="pull-right">
        <%= link_to "Back", :back, class: 'btn btn-default' %>
        <%= f.submit class: 'btn btn-default', id: 'create-spot' %>
      </div>
    </div>
  </div>
<% end %>

<% if @listing.errors.full_messages.size > 0  %>
  <div class="alert alert-danger">
    <% @listing.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
