<%= form_for [@spot, @listing], :url => spot_listings_path(@spot, @listing), html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :beginning_time, 'Start Time', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <input type="text" data-provide='datepicker', name='listing[beginning_time]'>
    </div>
    <%= f.select :beginning_time_of_day, options_for_select(Listing.time_of_day_options) %>
  </div>

  <a id="add-a-day">Multi-day?</a>
  <div id="ending-time-form" class="form-group", display="none">
    <%= f.label :ending_time, 'End Time', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <input type="text" data-provide='datepicker', name='listing[ending_time]'>
    </div>
    <%= f.select :ending_time_of_day, options_for_select(Listing.time_of_day_options) %>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Price ($)', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.text_field :price, :placeholder => '$20' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, 'Details', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.text_field :description, :placeholder => 'Enter details' %>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-2 control-label" for="spot_Submit"></label>
    <div class="col-sm-6">
      <%= f.submit class: 'btn btn-default', id: 'create-spot' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="spot_Submit"></label>
    <div class="col-sm-6">
      <%= link_to "Back", :back, class: 'btn btn-default col-md-12 col-xs-12' %>
    </div>
  </div>
<% end %>

<% if @listing.errors.full_messages.size > 0  %>
  <div class="alert alert-danger">
    <% @listing.errors.full_messages.each do |msg| %>
     <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
