


<%= form_for [@spot, @listing], :url => spot_listings_path(@spot, @listing), html: { class: 'form-horizontal', multipart: true } do |f| %>


  <div class="form-group">
    <%= f.label :beginning_time, 'Start Time', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.datetime_select :beginning_time, class: 'form-control', name: 'listing[beginning_time]'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :ending_time, 'End Time', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.datetime_select :ending_time, class: 'form-control', name: 'listing[ending_time]'%>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :price, 'Price ($)', class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
        <%= f.text_field :price, :placeholder => '$20' %>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-2 control-label" for="spot_Submit"></label>
    <div class="col-sm-6">
      <%= f.submit class: 'btn btn-default', id: 'create-spot' %>
    </div>
  </div>
<% end %>
