<% listings.each do |listing| %>
<li class="item thumb <%= listing.spot.class_type %>" id="spot-<%= listing.spot.id %>">
  <figure>

    <div class="icon-overlay icn-link">
      <!-- <a href=" <%= spot_path(listing.spot) %>"><%= image_for_spot(listing.spot, :medium, 'medium-img') %></a> -->
      <a href=" <%= spot_path(listing.spot) %>"><%= listing.spot.map_html('100%', '300px', '17') %></a>
    </div><!-- /.icon-overlay -->

    <figcaption class="bordered no-top-border">
      <div class="info item-info-height">

        <h4><%= link_to "#{listing.spot.title}", spot_path(listing.spot) %></h4>
        <p><%= listing.spot.city %>, <%= listing.spot.state %></p>
        <p>
          <% if current_user %>
            <%= "#{number_with_delimiter(distance_between(current_user, listing.spot).round(0))} miles away" if current_user %>
          <% else %>
            <%= "#{number_with_delimiter(distance_between_me_and(listing.spot).round(0))} miles away" if !current_user %>
          <% end %>
        </p>
        <p>$<%= listing.price.round(0) %></p>
        <p><%= listing.beginning_time_of_day %></p>
        <% if user_signed_in? %>
          <%= render partial: 'listings/reserve_button', locals: {spot: listing.spot, listing: listing} %>
          <%= button_to 'Remove Spot', spot_path(listing.spot), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } if current_user == listing.spot.owner && request.env['PATH_INFO'] == 'my_spots' %>
        <% else %>
          <%= link_to "Sign in to reserve", new_session_path(resource_name), {remote: true, 'data-toggle' => 'modal', 'data-target' => '#modal-window', class: 'btn btn-default'} %>
        <% end %>
      </div><!-- /.info -->
    </figcaption>

  </figure>
</li><!-- /.item -->
<% end %>
