<li>
  <h2></h2>
  <h3>Available: <%= listing.beginning_time.strftime("%m-%d-%y %H:%M") %>  -  <%= listing.ending_time.strftime("%m-%d-%y %H:%M") %></h3>
  <h3><%= number_to_currency(listing.price) %></h3>
  <% if listing.available %>
    <%= render partial: 'listings/reserve_button', locals: {spot: @spot, listing: listing} %>
  <% else %>
    <%= render partial: 'listings/already_reserved_button', locals: {spot: @spot, listing: listing} %>
  <% end %>
  <h4>Posted: <%= listing.created_at.strftime("%B %d, %Y") %> (<%= time_ago_in_words(listing.created_at) %> ago)</h4>
</li>
