<%= render 'layouts/add_advanced_search' %>
<div id="advanced-search" class="col-md-8 col-sm-9 center-block text-center">
  <%= form_tag(nearby_spots_path, method: "get") do %>
    <%= render 'layouts/add_a_date' %>
    <%= render 'layouts/hide_a_date' %>
    <div class="form-group">
      <%= label_tag :beginning_time, "Start Date", class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <% if params[:listing] && params["listing"]["beginning_time"] %>
          <input type="text" data-provide='datepicker', name='listing[beginning_time]', placeholder="Start Date", value="<%= params['listing']['beginning_time'] %>" required="required">
        <% else %>
          <input type="text" data-provide='datepicker', name='listing[beginning_time]', placeholder="Start Date", required="required">
        <% end %>
      </div>
      <% if params[:listing] && params["listing"]["beginning_time"] %>
        <%= select_tag "listing[beginning_time_of_day]", options_for_select(Listing.time_of_day_options, :selected => params['listing']['beginning_time_of_day']) %>
      <% else %>
        <%= select_tag "listing[beginning_time_of_day]", options_for_select(Listing.time_of_day_options) %>
      <% end %>
    </div>

    <div id="ending-time-form" class="form-group">
      <%= label_tag :ending_time, "End Date", class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <% if params[:listing] && params[:listing]["ending_time"] %>
          <input type="text" data-provide='datepicker', placeholder="End Date (optional)", name='listing[ending_time]', value="<%= params['listing']['ending_time'] %>">
        <% else %>
          <input type="text" data-provide='datepicker', placeholder="End Date (optional)", name='listing[ending_time]'>
        <% end %>
      </div>
      <% if params[:listing] && params["listing"]["beginning_time"] %>
        <%= select_tag "listing[ending_time_of_day]", options_for_select(Listing.time_of_day_options, :selected => params['listing']['ending_time_of_day']) %>
      <% else %>
        <%= select_tag "listing[ending_time_of_day]", options_for_select(Listing.time_of_day_options) %>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag :price, "Max Price", class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <% if params[:price] && params[:price] != "" %>
        <%= text_field_tag("price", params[:price]) %>
        <% else %>
          <%= text_field_tag("price", nil, placeholder: "Max Price", class: 'form-control') %>
        <% end %>
      </div>
    </div>
    <%= hidden_field_tag "q", "#{params[:q]}" if params[:q] %>
    <%= hidden_field_tag "radius", "#{params[:radius]}" if params[:radius] %>
    <%= hidden_field_tag "sort_type", "#{params[:sort_type]}" if params[:sort_type] %>
    <div class="form-group">
      <div class="col-sm-9">
        <%= submit_tag("Find Parking", class: "btn btn-large btn-block btn-primary" ) %>
      </div>
    </div>
  <% end %>
</div>
