<div id="advanced-search" class="col-md-12 col-sm-9 text-center">
  <%= form_tag(nearby_spots_path, method: "get") do %>
    <div class="form-group">
      <%= label_tag :beginning_time, "Start Date", class: 'col-sm-2 control-label no-left-padding' %>
      <div class="col-sm-6">
        <% if params[:listing] && params["listing"]["beginning_time"] %>
          <input type="text" data-provide='datepicker', name='listing[beginning_time]', placeholder="Start Date", value="<%= params['listing']['beginning_time'] %>" required="required">
        <% else %>
          <input type="text" data-provide='datepicker', name='listing[beginning_time]', placeholder="Start Date", value="<%= Time.now.strftime("%m/%d/%Y") %>" required="required">
        <% end %>
      </div>
      <% if params[:listing] && params["listing"]["beginning_time"] %>
        <%= select_tag "listing[beginning_time_of_day]", options_for_select(Listing.time_of_day_options, :selected => params['listing']['beginning_time_of_day']) %>
      <% else %>
        <%= select_tag "listing[beginning_time_of_day]", options_for_select(Listing.time_of_day_options) %>
      <% end %>
    </div>

    <div id="ending-time-form" class="form-group">
      <%= label_tag :ending_time, "End Date", class: 'col-sm-2 control-label no-left-padding' %>
      <div class="col-sm-6">
        <% if params[:listing] && params[:listing]["ending_time"] %>
          <input type="text" data-provide='datepicker', placeholder="End Date (optional)", name='listing[ending_time]', value="<%= params['listing']['ending_time'] %>">
        <% else %>
          <input type="text" data-provide='datepicker', placeholder="End Date (optional)", name='listing[ending_time]'>
        <% end %>
      </div>
      <% if params[:listing] && params["listing"]["beginning_time"] %>
        <%= select_tag "listing[ending_time_of_day]", options_for_select(Listing.time_of_day_options, :selected => params['listing']['ending_time_of_day']) %>
      <% else %>
        <%= select_tag "listing[ending_time_of_day]", options_for_select(Listing.time_of_day_options) %>
      <% end %>
    </div>

    <div class="form-group">
      <%= label_tag :price, "Max Price", class: 'col-sm-2 control-label no-left-padding' %>
      <div class="col-sm-6">
        <% if params[:price] && params[:price] != "" %>
          <input name="price" id="max-price" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="<%= max_price_listing_in(@spots) %>" data-slider-step="1" data-slider-value="#{params[:price]}"/>
        <% else %>
          <input name="price" id="max-price" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="<%= max_price_listing_in(@spots) %>" data-slider-step="1" data-slider-value="<%= max_price_listing_in(@spots) %>"/>
        <% end %>
      </div>
    </div>
    <div class="form-group clear">
      <%= label_tag :q, "Location:", class: 'col-sm-2 control-label no-left-padding' %>
      <div class="col-sm-6">
        <% if params[:q] %>
          <%= text_field_tag(:q, "#{params[:q]}", placeholder: "Los Angeles, CA or 90001", :required => true, class: 'form-control', id: "q") %>
        <% else %>
          <%= text_field_tag(:q, "#{Geocoder.search(current_location).first.address}", placeholder: "Los Angeles, CA or 90001", :required => true, class: 'form-control', id: "q") %>
        <% end %>
      </div>
    </div>

    <div class="form-group clear">
      <%= label_tag :radius, "Radius:", class: 'col-sm-2 control-label no-left-padding' %>
      <div class="col-sm-6">
        <% if params[:radius] %>
          <%= select_tag(:radius, options_for_select(miles_options, selected: "#{params[:radius]}"), class: 'form-control', id: "miles-select-dropdown") %>
        <% else %>
          <%= select_tag(:radius, options_for_select(miles_options, selected: 5), class: 'form-control', id: "miles-select-dropdown") %>
        <% end %>
      </div>
    </div>
    <%= hidden_field_tag "sort_type", "#{params[:sort_type]}" if params[:sort_type] %>
    <div class="form-group">
      <div class="col-sm-9">
        <%= submit_tag("Find Parking", class: "btn btn-large btn-block btn-primary no-left-padding" ) %>
      </div>
    </div>
  <% end %>
</div>
