<div class="col-md-5 col-sm-9 center-block text-center">
  <%= form_tag(nearby_spots_path, method: "get") do %>
    <div class="form-group">
      <% if params[:listing] && params["listing"]["beginning_time"] %>
        <input type="text" data-provide='datepicker', name='listing[beginning_time]', placeholder="Start Date", value="<%= params['listing']['beginning_time'] %>" required="required">
      <% else %>
        <input type="text" data-provide='datepicker', name='listing[beginning_time]', placeholder="Start Date", required="required">
      <% end %>
    </div>

    <a id="add-a-day">Multi-day?</a>

    <div id="ending-time-form" class="form-group">
      <%= label_tag :ending_time, "End Time" %>
      <% if params[:listing] && params[:listing]["ending_time"] %>
        <input type="text" data-provide='datepicker', placeholder="End Date (optional)", name='listing[ending_time]', value="<%= params['listing']['ending_time'] %>">
      <% else %>
        <input type="text" data-provide='datepicker', placeholder="End Date (optional)", name='listing[ending_time]'>
      <% end %>
    </div>

    <div class="form-group">
      <% if params[:price] != "" %>
      <%= text_field_tag("price", params[:price]) %>
      <% else %>
        <%= text_field_tag("price", nil, placeholder: "Max Price", class: 'form-control') %>
      <% end %>
    </div>
    <%= hidden_field_tag "q", "#{params[:q]}" if params[:q] %>
    <%= hidden_field_tag "radius", "#{params[:radius]}" if params[:radius] %>
    <%= hidden_field_tag "sort_type", "#{params[:sort_type]}" if params[:sort_type] %>
    <div class="form-group">
      <%= submit_tag("Find Parking", class: "btn btn-large" ) %>
    </div>
  <% end %>
</div>
