<% content_for :page_title do %>Nearby Parking Spots<% end %>
<% content_for :page_header do %><% end %>
	<% content_for :page_subheader do %><% end %>
<% content_for :page_content do %>
	<%= render partial: "listings/listing_stand_alone", locals: {listings: @listings} %>
<% end %>
<% content_for :searching do %>
	<%= render 'spots/spots_search' %>
<% end %>
<% content_for :filtering do %>
	<%= render 'search/search_filters' %>
<% end %>
<% content_for :location_search do %>
	<div class="col-md-3 inner-bottom-xs" id="location-search-nearby">
		<%= render 'search/search_location' %>
	</div>
<% end %>
<% content_for :sorting do %>
	<%= render 'spots/sort' %>
<% end %>
<%= render 'layouts/spots_layout' %>
