<div class="media clear-fix pull-left">
  <% message = receipt.message %>
  <div class="pull-left">
    <a href="<%= user_path(message.sender) %>"><%= image_for_user message.sender, :thumb, 'img-chat rounded pull-left', message.sender.name %></a>
    <span class="glyphicon glyphicon-triangle-left chat-triangle-left pull-left"></span>
  </div>

  <div class="media-body rounded receiver-background-color">
    <%= message.body %>
    <h6 class="media-heading"><a href="<%= user_path(message.sender) %>"><%= message.sender.id == current_user.id ? 'You' : message.sender.name %></a>
      (<%= time_ago_in_words(message.created_at) %> ago)</h6>
  </div>
</div>
