<% content_for :page_title do %>My Messages<% end %>

<main>
  <section>
    <div class="container inner-top-sm inner-bottom-sm">
      <div class="row">
        <div class="col-md-8 col-sm-8 center-block">
          <header>
            <h1><%= @box.capitalize %></h1>
          </header>

          <div class="row">
            <div class="col-sm-2">
              <ul class="nav nav-pills nav-stacked">
                <%= mailbox_section 'inbox', @box %>
                <%= mailbox_section 'sent', @box %>
                <%= mailbox_section 'trash', @box %>
              </ul>
            </div>

            <div class="col-sm-10">
              <ul class="list-group">
                <% if !@conversations.empty? %>
                  <%= render partial: 'conversation', collection: @conversations %>
                <% else %>
                  <%= @no_message_text %>
                <% end %>
              </ul>
              <% if @box == 'trash' && !@conversations.empty? %>
                <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-default', method: :delete,
                               data: {confirm: 'Are you sure?'} %></p>
              <% end %>

              <%= will_paginate %>
            </div>

          </div>
       </div><!-- /.col -->
     </div><!-- /.row -->
   </div>
 </section>
</main>
