<% content_for :page_title do %>Conversation<% end %>

<main>
  <section>
    <div class="container inner-top-sm inner-bottom-sm">
      <div class="row">
        <div class="col-md-8 col-sm-9 center-block">
          <div class="panel panel-default">
            <div class="convo-heading rounded-top"><h3><%= truncate(@conversation.subject, length: 70) %></h3></div>
            <div class="convo-body">
              <div class="messages-container">
                <% @conversation.receipts_for(current_user).order(:created_at).each do |receipt| %>
                  <% if receipt.message.sender.id == current_user.id %>
                    <%= render partial: 'message_sender', locals: {receipt: receipt} %>
                  <% else %>
                    <%= render partial: 'message_receiver', locals: {receipt: receipt} %>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= form_tag reply_conversation_path(@conversation), method: :post, remote: true do %>
              <div class="form-group no-margin-bottom no-padding-bottom">
                <%= text_area_tag 'body', nil, {class: 'rounded-bottom no-margin-bottom no-padding-bottom thin-textarea', rows: 1, placeholder: 'Type something...', required: true} %>
              </div>

              <div class="form-group no-margin-bottom pull-right">
                <%= link_to "Back", :back, class: 'btn btn-default' %>
                <%= submit_tag "Send Message", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div>
  </section>
</main>

<script type="text/javascript">
  $(document).ready(function() {
    $('form').on('submit', function(e) {
      // append reply immediately instead of waiting for ajax to process
      var message = $('textarea').val();

      // add reply to view before ajax process complete (much faster than waiting)
      $('.messages-container').append("<%= j render 'fake_reply' %>");
      $('.media-body').last().prepend(message);
      e.stopPropagation;

      // scroll to bottom of conversation on update
      $('.messages-container').animate({ scrollTop: $('.messages-container')[0].scrollHeight}, 1000);
    });

    // scroll to bottom of conversation on page_load
    $('.messages-container').animate({ scrollTop: $('.messages-container')[0].scrollHeight}, 0);

    // add shadow on scroll
    $('.messages-container').scroll(function() {
       var scroll = $('.messages-container').scrollTop();
       if (scroll > 0) {
         $('.convo-heading').addClass('convo-heading-shadow');
       } else {
         $('.convo-heading').removeClass('convo-heading-shadow');
       }
    });

    // auto adjust the height of textarea as user types
    $('textarea').autosize();
  });
</script>
