<!-- ============================================================= MAIN ============================================================= -->

<main>

	<!-- ============================================================= SECTION – PORTFOLIO POST ============================================================= -->

	<section id="portfolio-post">
		<div class="container inner-top-md">
			<div class="row">

				<div class="col-md-4 text-center">
          <% if @user.avatar.exists? %>
            <%= image_tag @user.avatar.url(:medium), class: 'img-rounded' %>
          <% else %>
            <%= image_tag @user.avatar_file_name, class: 'img-rounded' %>
          <% end %>
          <div>
            <% if user_signed_in? && current_user? %>
              <%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-default' %>
            <% end %>
          </div>
				</div><!-- /.col -->

				<div class="col-md-8 inner-left-sm">
					<header>
						<h2><%= @user.name %></h2>
						<p class="text-small"><%= @user.bio %></p>

						<ul class="item-details inner-top-xs outer-top-xs border-top">
              <li><%= @user.gender %></li>
              <li><%= @user.age(@user.birthday) %> years old</li>
              <li><%= @user.location %></li>
              <li><%= number_to_phone(@user.phone, area_code: true) %></li>
						</ul><!-- /.item-details -->
					</header>
				</div><!-- /.col -->

			</div><!-- /.row -->
		</div><!-- /.container -->

	</section>

	<!-- ============================================================= SECTION – PORTFOLIO POST : END ============================================================= -->

</main>

<!-- ============================================================= MAIN : END ============================================================= -->
