<% if @last_8_spots %>
  <div class="row inner-top-sm">
    <div id="owl-latest-works" class="owl-carousel owl-item-gap">

      <% @last_8_spots.each do |spot| %>
        <div class="item">
          <a href="<%= spot_path(spot) %>">
            <figure>
              <figcaption class="text-overlay">
                <div class="info">
                  <h4> <%= spot.title %></h4>
                  <p> <%= spot.city %>, <%= spot.state %></p>
                </div><!-- /.info -->
              </figcaption>
              <% if spot.pictures.first %>
              <img src="<%= spot.pictures.first.picture.url(:medium) %>" alt="">
              <% end %>
            </figure>
          </a>
        </div><!-- /.item -->
        <% end %>
    </div><!-- /.owl-carousel -->
  </div><!-- /.row -->
<% end %>
