<% if @top_2_spots %>
  <div class="row">

    <% @top_2_spots.each do |spot| %>
      <div class="col-sm-6 inner-top-sm">
        <figure>

          <div class="icon-overlay icn-link">
            <a href="portfolio-post.html"><img src="<%= spot.pictures.first.picture.url(:large) %>" alt=""></a>
          </div><!-- /.icon-overlay -->

          <figcaption class="bordered no-top-border">
            <div class="info">
              <h3><a href=" <%= spot_path(spot) %>"> <%= spot.title %></a></h3>
              <p> <%= spot.city %>, <%= spot.state %></p>
            </div><!-- /.info -->
          </figcaption>

        </figure>
      </div><!-- /.col -->
    <% end %>
  </div><!-- /.row -->
<% end %>
