<% content_for :page_title do %>Your Car Needs A Home | Find Affordable Off-Street Parking Near You<% end %>

<main>

<!-- ============================================================= MAIN ============================================================= -->

<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="hero">
	<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

		<div class="item" style="background-image: url(<%= image_path 'road.jpg' %>);">
			<div class="container">
				<div class="caption vertical-center text-center">
					<h1 class="fadeInDown-1 light-color">Welcome to ParkShark</h1>
					<p class="fadeInDown-2 light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="fadeInDown-3">
						<%= render 'layouts/find_me' %>
					</div><!-- /.fadeIn -->

				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->

		<div class="item" style="background-image: url(<%= image_path 'new_york2.jpg' %>);">
			<div class="container">
				<div class="caption vertical-center text-right">

					<h1 class="fadeInLeft-1 light-color">Find Spots <br>Around the World</h1>
					<p class="fadeInLeft-2 light-color">Lorem ipsum dolor sit amet <br>, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<div class="fadeInLeft-3">
						<a href="#" class="btn btn-large">Search Locations</a>
					</div><!-- /.fadeIn -->

				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->

		<div class="item" style="background-image: url(<%= image_path 'new_york.jpg' %>);">
			<div class="container">
				<div class="caption vertical-center text-left">

					<h1 class="fadeInRight-1 dark-bg light-color"><span>List <br>Your Spots</span></h1>
					<p class="fadeInRight-2 light-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<div class="fadeInRight-3">
						<%= link_to "List your parking spot", new_spot_path, class: "btn btn-large" %>
					</div><!-- /.fadeIn -->

				</div><!-- /.caption -->
			</div><!-- /.container -->
		</div><!-- /.item -->

	</div><!-- /.owl-carousel -->
</section>

<!-- ============================================================= SECTION – HERO : END ============================================================= -->

	<section id="who-we-are">
		<div class="container inner-top-sm inner-bottom-sm">

			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Fast. Easy. Affordable.</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->

			<div class="row inner-top-sm">
				<div class="col-md-1">
					<div class="icon pull-right">
						<i class="icon-search icn"></i>
					</div><!-- /.icon -->
				</div><!-- /.col -->

				<div class="col-md-3 inner-bottom-xs">
					<h2>Find Parking Nearby</h2>
					<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae.</p>
					<%= render 'layouts/find_me' %>
				</div><!-- /.col -->

				<div class="col-md-1">
					<div class="icon pull-right">
						<i class="icon-money icn"></i>
					</div><!-- /.icon -->
				</div><!-- /.col -->

				<div class="col-md-3 inner-bottom-xs">
					<h2>Get Paid</h2>
					<p class="text-small">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae.</p>
					<%= link_to "List your parking spot", new_spot_path, class: "btn btn-large" %><br>
				</div><!-- /.col -->

				<div class="col-md-1">
					<div class="icon pull-right">
						<i class="icon-globe icn"></i>
					</div><!-- /.icon -->
				</div><!-- /.col -->

				<div class="col-md-3 inner-bottom-xs">
					<h2>Find a Spot Elsewhere</h2>
					<p class="text-small">Enter a zip code or city/state below.</p>
					<%= render 'search/search_location' %>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>

	<!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->

	<section id="latest-works" class="light-bg">
		<div class="container inner">

			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Check out the latest posts from other ParkSharks</h1>
						<p>Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->

			<%= render "top_two_spots" %>
			<%= render "next_eight_spots" %>

		</div><!-- /.container -->
	</section>

	<!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->

	<!-- ============================================================= MAIN : END ============================================================= -->

</main>
