<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations, <%= @visitor.name %>! You have purchased <%= link_to @spot.title, spot_url(@spot) %> from <%= @owner.name %></h1>
    <% if @listing.beginning_time != @listing.ending_time %>
      <p>This spot is available for you from <%= @listing.beginning_time.strftime("%A, %b #{@listing.beginning_time.day.ordinalize} %Y") %>, <%= @listing.beginning_time_of_day %>, to <%= @listing.ending_time.strftime("%A, %b #{@listing.beginning_time.day.ordinalize} %Y") %>, <%= @listing.ending_time_of_day %></p>
    <% else %>
      <p>This spot is available for you from <%= @listing.beginning_time.strftime("%A, %b #{@listing.beginning_time.day.ordinalize} %Y") %>, <%= @listing.beginning_time_of_day %></p>
    <% end %>
    <p>The spot is located at <%= @listing.spot.address %></p>
    <p>
      To contact the spot's owner to specify details, view their profile <%= link_to 'here', user_url(@owner) %>, or email the owner at <%= mail_to @owner.email %>.
    </p>
    <p>Thanks for using ParkShark and have a great day!</p>
    <hr>
    <p>
      Sincerely, <br>
      ParkShark Team
    </p>
  </body>
</html>
