<footer class="dark-bg">
	<div class="container inner">
		<div class="row">

			<div class="col-md-3 col-sm-6 inner">
				<h4>Who we are</h4>
        <%= image_tag asset_path("logo-white.svg"), class: "logo img-intext"  %>
				<a href="index.html"><%= image_tag asset_path("logo-white.svg"), class: "logo img-intext"  %></a>
				<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
				<a href="about.html" class="txt-btn">More about us</a>
			</div><!-- /.col -->

			<div class="col-md-3 col-sm-6 inner">
				<h4>Latest works</h4>

				<div class="row thumbs gap-xs">

					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="portfolio-post.html"><%= image_tag asset_path("work02.jpg") %></a>
						</figure>
					</div><!-- /.thumb -->

					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="portfolio-post.html"><%= image_tag asset_path("work03.jpg") %></a>
						</figure>
					</div><!-- /.thumb -->

					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="portfolio-post.html"><%= image_tag asset_path("work07.jpg") %></a>
						</figure>
					</div><!-- /.thumb -->

					<div class="col-xs-6 thumb">
						<figure class="icon-overlay icn-link">
							<a href="portfolio-post.html"><%= image_tag asset_path("work01.jpg") %></a>
						</figure>
					</div><!-- /.thumb -->

				</div><!-- /.row -->
			</div><!-- /.col -->


			<div class="col-md-3 col-sm-6 inner">
				<h4>Get In Touch</h4>
				<p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
				<ul class="contacts">
					<li><i class="icon-location contact"></i> 84 Street, City, State 24813</li>
					<li><i class="icon-mobile contact"></i> +00 (123) 456 78 90</li>
					<li><a href="#"><i class="icon-mail-1 contact"></i> info@reen.com</a></li>
				</ul><!-- /.contacts -->
			</div><!-- /.col -->

			<div class="col-md-3 col-sm-6 inner">
				<h4>Free updates</h4>
				<p>Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
				<form id="newsletter" class="form-inline newsletter" role="form">
					<label class="sr-only" for="exampleInputEmail">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter your email address">
					<button type="submit" class="btn btn-default btn-submit">Subscribe</button>
				</form>
			</div><!-- /.col -->

		</div><!-- /.row -->
	</div><!-- .container -->

	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">© 2015 REEN. All rights reserved.</p>
			<ul class="footer-menu pull-right">
				<li><a href="index.html">Home</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul><!-- .footer-menu -->
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>
