<!-- ============================================================= HEADER ============================================================= -->

<header>
	<div class="navbar">
		<div class="navbar-header">
			<div class="container">

				<!-- <ul class="info pull-left"> -->
					<!-- <li><a href="#"><i class="icon-mail-1 contact"></i> parksharkteam@parkshark.com</a></li> -->
				<!-- </ul><!-- /.info -->

				<!-- <ul class="social pull-right">
					<li><a href="#"><i class="icon-s-facebook"></i></a></li>
					<li><a href="#"><i class="icon-s-twitter"></i></a></li>
					<li><a href="#"><i class="icon-s-github"></i></a></li>

				</ul><!-- /.social -->

				<!-- ============================================================= LOGO MOBILE ============================================================= -->

				<!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.svg" class="logo" alt=""></a> -->
				<%= link_to 'ParkShark', root_path, class: 'navbar-brand' %>

				<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

				<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

			</div><!-- /.container -->
		</div><!-- /.navbar-header -->

		<div class="yamm">
			<div class="navbar-collapse collapse">
				<div class="container">

					<!-- ============================================================= LOGO ============================================================= -->

					<!-- <a class="navbar-brand" href="<%= root_path %>"><%= image_tag asset_path("logo.svg"), class: "logo" %></a> -->
					<%= link_to 'ParkShark', root_path, class: 'navbar-brand', style: 'width:50px' %>

					<!-- ============================================================= LOGO : END ============================================================= -->


					<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

					<ul class="nav navbar-nav pull-right">
						<% if user_signed_in? %>
						  <li><%= link_to 'Nearby Spots', nearby_spots_path %></li>
							<li><%= link_to 'List Spot', new_spot_path %></li>
							<li><%= link_to 'Dashboard', reservations_path %></li>

							<li class="dropdown">
								<a href="<%= user_path(current_user) %>" style="display: inline;" class="dropdown-toggle js-activated">
									<% if current_user.avatar_content_type %>
										<%= image_tag current_user.avatar.url(:thumb), title: current_user.name, class: "round-image-50" %>
									<% elsif !current_user.avatar_file_name %>
										<%= image_tag current_user.avatar.url(:thumb), title: current_user.name, class: "round-image-50" %>
									<% else %>
										<%= image_tag current_user.avatar_file_name, title: current_user.name, class: "round-image-50" %>
									<% end %>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to 'My Profile', user_path(current_user) %></li>
									<li><%= link_to 'My Mailbox', conversations_path %></li>
									<li><%= link_to "My Spots", user_spots_path(current_user) %></li>
									<li><%= link_to 'Edit Payment Information', purchase_information_path(current_user) %></li>
									<li><%= link_to "Change Password", edit_user_password_path %></li>
									<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
								</ul><!-- /.dropdown-menu -->
							</li><!-- /.dropdown -->
						<% else %>
							<li><%= link_to "Log in", new_session_path(resource_name) %></li>
							<li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
						<% end %>
					</ul>

					<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

				</div><!-- /.container -->
			</div><!-- /.navbar-collapse -->
		</div><!-- /.yamm -->
	</div><!-- /.navbar -->
</header>
