<!-- ============================================================= HEADER ============================================================= -->

<header>
	<div class="navbar">
		<div class="navbar-header">
			<div class="container">

				<!-- <ul class="info pull-left"> -->
					<!-- <li><a href="#"><i class="icon-mail-1 contact"></i> parksharkteam@parkshark.com</a></li> -->
				<!-- </ul><!-- /.info -->

				<!-- <ul class="social pull-right">
					<li><a href="#"><i class="icon-s-facebook"></i></a></li>
					<li><a href="#"><i class="icon-s-twitter"></i></a></li>
					<li><a href="#"><i class="icon-s-github"></i></a></li>

				</ul><!-- /.social -->

				<!-- ============================================================= LOGO MOBILE ============================================================= -->

				<!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.svg" class="logo" alt=""></a> -->
				<%= link_to 'ParkShark', root_path, class: 'navbar-brand' %>

				<!-- ============================================================= LOGO MOBILE : END ============================================================= -->

				<a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a>

			</div><!-- /.container -->
		</div><!-- /.navbar-header -->

		<div class="yamm">
			<div class="navbar-collapse collapse">
				<div class="container">

					<!-- ============================================================= LOGO ============================================================= -->

					<!-- <a class="navbar-brand" href="<%= root_path %>"><%= image_tag asset_path("logo.svg"), class: "logo" %></a> -->
					<%= link_to 'ParkShark', root_path, class: 'navbar-brand' %>

					<!-- ============================================================= LOGO : END ============================================================= -->


					<!-- ============================================================= MAIN NAVIGATION ============================================================= -->

					<ul class="nav navbar-nav">
						<li><%= link_to 'Connect', users_path %></li>
						<li><%= link_to 'Find Spots', spots_path %></li>
					</ul><!-- /.nav -->

					<ul class="nav navbar-nav pull-right">
						<% if user_signed_in? && current_user %>
							<li><%= link_to 'My Profile', user_path(current_user) %></li>
							<li><%= link_to "My Spots", user_spots_path(current_user) %></li>
							<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
							<li><%= image_tag(current_user.avatar.url(:thumb), class: 'round-image-50') %><li>
						<% else %>
							<li><%= link_to "Log in", new_session_path(resource_name) %></li>
							<li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
						<% end %>
					</ul>

					<!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->

				</div><!-- /.container -->
			</div><!-- /.navbar-collapse -->
		</div><!-- /.yamm -->
	</div><!-- /.navbar -->
</header>
