<main>
	<section id="profile-page">
		<div class="container inner-top-sm">
			<div class="col-md-10 center-block">

				<div class="row">
					<div class="card rounded head-card">
						<div class="card-block">
							<div class="col-md-4 text-center">
				        <%= image_for_user @user, :medium, 'rounded' %>
								<% if user_signed_in? && current_user? %>
									<%= link_to 'Edit Profile', edit_user_path, class: 'btn btn-small' %>
								<% else %>
									<%= link_to 'Send message', new_message_path(to: @user.id), {remote: true, 'data-toggle' => 'modal', 'data-target' => '#modal-window', class: 'btn btn-small'} %>
								<% end %>
							</div>

							<div class="col-md-8 card-text">
									<h2><%= @user.name %></h2>
									<p>
										<% if @user.gender %>
											<%= @user.gender %><br>
										<% end %>
										<% if @user.birthday %>
											<%= @user.age(@user.birthday) %> years old<br>
										<% end %>
										<% if @user.phone %>
											<%= number_to_phone(@user.phone, area_code: true) %>
										<% end %>
									</p>
									<p><%= @user.bio %></p>
							</div>
						</div>
					</div><!-- /.card -->
				</div><!-- /.row -->

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Reviews</h2>
						</div>

						<div class="card-block card-body">
							<% @user.reviews.each do |review| %>
								<h3><%= image_for_user(review.visitor, :thumb, 'img-super-small') %><%= link_to "#{review.visitor.name}", user_path(review.visitor) %></h3>
								<h4><%= review.rating %>/5 stars</h4>
								<p><%= review.body %></p>
								<p class="text-small"><%= review.created_at.strftime("%B #{review.created_at.day.ordinalize}, %Y") %> (<%= time_ago_in_words(review.created_at) %> ago)</p>
								<%= link_to "Go to spot", spot_path(review.spot.id), class: "btn btn-small" %><br>
							<% end %>
						</div>
					</div><!-- /.card -->
				</div>

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Available Listings</h2>
						</div>

						<div class="card-block card-body">
							<% @user.listings.each do |listing| %>
								<h4><%= listing.created_at.strftime("%B #{listing.created_at.day.ordinalize}, %Y") %> (<%= time_ago_in_words(listing.created_at) %> ago)</h4>
								<%= link_to "Go to spot", spot_path(listing.spot.id), class: "btn btn-small" %><br>
							<% end %>
						</div>
					</div><!-- /.card -->
				</div>

				<div class="row">
					<div class="card rounded">
						<div class="card-block">
							<div class="toggle pull-right"><i class="fa fa-toggle-on"></i></div>
							<h2 class="card-title">Vehicles</h2>
						</div>

						<div class="card-block card-body text-center">
							<p><%= @user.name %> has not listed any vehicles</p>
						</div>
					</div><!-- /.card -->
				</div>


			</div><!-- /.center-block -->
		</div> <!-- /.container -->
	</section>
</main>

<script type="text/javascript">
  $(document).ready(function(){
    $("div.toggle").click(function(){
      $(this).parent().parent().find('.card-body').slideToggle(100, function(){
        $(this).parent().find('i').toggleClass('fa-toggle-off').toggleClass('fa-toggle-on');
      });
    });
  });
</script>
