<main>
  <section id="portfolio">
    <div class="container inner">
      <div class="row">
        <div class="col-md-12 col-sm-9 center-block text-center">
          <header>

            <h1><%= yield :page_header %></h1>
            <p><%= yield :page_subheader %></p>

          </header>

          <%= yield :filtering %>
          <%= yield :sorting %>

        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
      <div class="row">
        <div class="col-sm-12 portfolio">
          <ul class="filter text-center">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[0] %>"><%= Spot.types_of_spots[0] %></a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[1] %>"><%= Spot.types_of_spots[1] %></a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[2] %>"><%= Spot.types_of_spots[2] %></a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[3] %>"><%= Spot.types_of_spots[3] %></a></li>
          </ul><!-- /.filter -->
          <ul class="items col-3 gap all-spots">

            <%= yield :page_content %>

					</ul><!-- /.items -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
    <% if @spots.length != 0 %>
      <div class="pagination_box">
        <%= will_paginate @spots %>
      </div>
    <% end %>
	</section>
</main>
