<main>
  <section id="portfolio">
    <div class="container inner">
      <div class="row">
        <div class="col-md-12 col-sm-9 center-block text-center">
          <header>

            <h1><%= yield :page_header %></h1>
            <p><%= yield :page_subheader %></p>

          </header>
          <%= yield :sorting %>
          <%= yield :filtering %>

          <%= yield :location_search %>
          <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
          </div>


        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <div class="container inner-bottom">
      <div class="row">
        <div class="col-sm-12 portfolio">
          <ul class="filter text-center">
            <li><a href="#" data-filter="*" class="active">All</a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[0] %>"><%= Spot.types_of_spots[0] %></a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[1] %>"><%= Spot.types_of_spots[1] %></a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[2] %>"><%= Spot.types_of_spots[2] %></a></li>
            <li><a href="#" data-filter=".<%= Spot.types_of_spots[3] %>"><%= Spot.types_of_spots[3] %></a></li>
          </ul><!-- /.filter -->
          <ul class="items col-3 gap all-spots">

            <%= yield :page_content %>

					</ul><!-- /.items -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
    <% if @spots.length != 0 %>
      <div class="pagination_box">
        <% if @listings %>
          <%= will_paginate @listings %>
        <% else %>
          <%= will_paginate @spots if @spots %>
        <% end %>

      </div>
    <% end %>
	</section>
</main>

<script type="text/javascript">
  $(function() {
    // executeAjaxPost();
    createMap();
    // displayOnMap(<%= current_location[0] %>, <%= current_location[1] %>)

  })


  // function executeAjaxPost() {
  //     $.post( "/create_map");
  // }

  function createMap(){
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {
      zoom: 1
    }, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  }
  function displayOnMap(latitude, longitude){
    var marker = handler.addMarker({
      lat: latitude,
      lng: longitude
    });
    handler.map.centerOn(marker);
  };

</script>
