<!DOCTYPE html>
<html>
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ParkShark | <%= yield :page_title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <%= render 'layouts/header' %>

      <% if flash[:notice] %>
        <div class="row">
          <div class="col-md-12 col-sm-12 center-block text-center">
            <div class="flash-success"><%= flash[:notice] %></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      <% elsif flash[:error] %>
        <div class="row">
          <div class="col-md-12 col-sm-12 center-block text-center">
            <div class="flash-error"><%= flash[:error] %></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      <% elsif !devise_error_messages!.empty? %>
        <div class="row">
          <div class="col-md-12 col-sm-12 center-block text-center">
            <div class="flash-error"><%= devise_error_messages! %></div>
          </div><!-- /.col -->
        </div><!-- /.row -->
      <% end %>

      <%= yield %>

      <!-- hidden window for displaying modal popups -->
      <div id="modal-window" class="modal fade col-md-6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;"></div>

    <%= render 'layouts/footer' %>
  </body>
</html>
